
.row {
  display: flex;
  align-items: center;
  padding: 0px 0;
}

.background-container {
  position: fixed;
  top: 0;
  overflow: hidden;
  left: 0;
  z-index: 0;
}

.animated-name {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  white-space: nowrap;
  color: rgba(54, 54, 54, 0.7);
  transition: 1s;
  user-select: none;
  padding: 0 5px;
  font-family: 'Roboto', sans-serif;
}